.w3-container{
    padding: 0.51em 20px;
}

.w3-container:before, .w3-container:after {
    content: "";
    display: table;
    clear: both;
}

.container-button {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    margin-top: 20px;
    margin-left: 25px;
}

.w3-button {
    padding: 8px 16px;
    border-radius: 6px;
    /* overflow: hidden; */
}

.w3-button:hover {
    background-color: #2e78e6; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.w3-large {
    font-size: 20px!important;
}

.w3-display-topright {
    position: absolute;
    right: 5%;
    top: 5%;
}